@font-face {
	font-family: 'Colaborate-ThinRegular';
	src: url('../fonts/ColabThi-webfont.eot');
	src: local('â˜º'), url('../fonts/ColabThi-webfont.woff') format('woff'), url('../fonts/ColabThi-webfont.ttf') format('truetype'), url('../fonts/ColabThi-webfont.svg#webfontcrb0Yhf3') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ColaborateLightRegular';
	src: url('../fonts/ColabLig-webfont.eot');
	src: local('â˜º'), url('../fonts/ColabLig-webfont.woff') format('woff'), url('../fonts/ColabLig-webfont.ttf') format('truetype'), url('../fonts/ColabLig-webfont.svg#webfontrw6WOifO') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Colaborate-RegularRegular';
	src: url('../fonts/ColabReg-webfont.eot');
	src: local('â˜º'), url('../fonts/ColabReg-webfont.woff') format('woff'), url('../fonts/ColabReg-webfont.ttf') format('truetype'), url('../fonts/ColabReg-webfont.svg#webfont7n8htCD6') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Colaborate-MediumRegular';
	src: url('../fonts/ColabMed-webfont.eot');
	src: local('â˜º'), url('../fonts/ColabMed-webfont.woff') format('woff'), url('../fonts/ColabMed-webfont.ttf') format('truetype'), url('../fonts/ColabMed-webfont.svg#webfontpFO0A3fx') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Colaborate-BoldRegular';
	src: url('../fonts/ColabBol-webfont.eot');
	src: local('â˜º'), url('../fonts/ColabBol-webfont.woff') format('woff'), url('../fonts/ColabBol-webfont.ttf') format('truetype'), url('../fonts/ColabBol-webfont.svg#webfontDTEOBeAk') format('svg');
	font-weight: normal;
	font-style: normal;
}

.nav li a, .custom-tagline, .heading-inner h2 a, .nav li ul li a  {
    
}

.heading, .heading-inner, #uds-billboard-wrapper, .box {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
