#tres .nav {
	padding-top: 0px;	}
	
.right form {
	margin-left:380px
}
#tres #heading-title {
	margin-top:0px;
	
}
#tres .heading-inner {
	padding-top: 0px;	
}
#tres .rightup .idioma{

	margin-left: 470px;
	
}

	